<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand" href="../../index.php">DATA-KGB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Sélectionné un Formulaire
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="./DataManager/AdminManager.php">Admin</a></li>
                <li><a class="dropdown-item" href="./DataManager/AgentManager.php">Agent</a></li>
                <li><a class="dropdown-item" href="./DataManager/ContactsManager.php">Contacts</a></li>
                <li><a class="dropdown-item" href="./DataManager/HideManager.php">Planques</a></li>
                <li><a class="dropdown-item" href="./Index/MissionIndex.php">Mission</a></li>
                <li><a class="dropdown-item" href="./DataManager/TargertManager.php">Cible</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
</body>
</html>